body {
    margin: 0;
    background-color: #282c34;
    font-family: Arial, sans-serif;
    color: #fff;
    height: 100vh;
    overflow: hidden   ;
  transition: background-color 0.3s, color 0.3s;
}
body.dark {
  background-color: #121212;
  color: white;
}

header {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.points {
    font-size: 20px;
}

.content {
    height: calc(100vh - 60px);
}

.content-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(70vh - 60px);
}

.wheel-container {
    margin: auto;
    width: 300px;
    height: 300px;
}

.wheel {
    z-index: 10;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(
        #f44336 0% 25%,
        #ffeb3b 25% 50%,
        #4caf50 50% 75%,
        #2196f3 75% 100%
    );
    border: 5px solid #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.arrow {
    position: absolute;
    right: 47.6%;
    top: 23%;
    z-index: -10;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-top: 40px solid #fff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    z-index: 1;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

.main-text{
    animation: float 5s ease-in-out infinite;
}

.kategoria{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 60px;
    width: 100px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    padding-top: 40px;
    border-radius: 2rem;
}

.gry{
  width: 300px;
  height: 500px;
  background-image: url('backgrounds/bg-gry.jpg');
  background-repeat: repeat-x;
  background-size: cover;

  animation: scrollBackground 60s linear infinite;

  filter: grayscale(100%);
  transition: filter 0.5s ease, transform 0.2s ease;
  transition-timing-function: ease-in-out; 
}

.gry:hover {
  filter: grayscale(0%);
  transform: scale(1.08);
}

.filmy{
  width: 300px;
  height: 500px;
  background-image: url('backgrounds/bg-filmy.jpg');
  background-repeat: repeat-x;
  background-size: cover;

  animation: scrollBackground 60s linear infinite;

  filter: grayscale(100%);
  transition: filter 0.5s ease, transform 0.2s ease;
  transition-timing-function: ease-in-out; 
}

.filmy:hover {
  filter: grayscale(0%);
  transform: scale(1.08);
}

.linki{
    text-decoration: none;
    color: white;
}

.nav:hover{
    transition: 0.3s;
    color: red;
}

.category-container{
    font-size: larger;
    padding-top: 10vh;
    text-align: center;
}

.levels-content {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: calc(60vh - 60px);
}

.category-container-levels{
    font-size: larger;
    padding-top: 10vh;
    text-align: center;
}

.difficulty-level-button{
    font-size: large;
    cursor: pointer;
}

.reset-button{
    font-size: large;
    cursor: pointer;
    margin-left: 100px;
}

.pytania-odpowiedzi{
    height: 5vh;
    text-align: center;
}

.wheel {
    transition: transform 4s ease-out;
}

.question {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
}

#up{
    float: left;
    width: 100%;
    height: 10vh;
}

#left{
    float: left;
    min-width: 150px;
    width: 25%;
    height: 90%;
}

#middle{
    float: left;
    min-width: 700px;
    width: 50%;
    height: 90%;
    text-align: center;
}

#right{
    float: left;
    min-width: 150px;
    width: 12%;
    padding-left: 90px;
    padding-right: 90px;
    height: 90%;
}

#blue{
    background-color: blue;
    height: 50px;
    width: 95%;
    margin-top: 30px;
    margin-left: 15px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.747);
    text-align: center;
    padding-top: 32px;
    border-radius: 2rem;
}

#yellow{
    background-color: yellow;
    height: 70px;
    width: 95%;
    margin-left: 15px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.945);
    text-align: center;
    padding-top: 32px;
    border-radius: 2rem;
}

#green{
    background-color: green;
    height: 50px;
    width: 95%;
    margin-left: 15px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.747);
    text-align: center;
    padding-top: 32px;
    border-radius: 2rem;
}

#red{
    background-color: red;
    height: 70px;
    width: 95%;
    margin-left: 15px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.747);
    text-align: center;
    padding-top: 32px;
    border-radius: 2rem;
}

#bonus{
    height: 100px;
    width: 95%;
    margin-left: 15px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.747);
    text-align: center;
    padding-top: 32px;
    border-radius: 2rem;
}

/* Styl przełącznika */
.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 36px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: background-color 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px;
  box-sizing: border-box;
}

.slider:before {
  content: "";
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 5px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.4s ease;
}

input:checked + .slider {
  background-color: #444;
}

input:checked + .slider:before {
  transform: translateX(34px);
}

.slider .icon {
  font-size: 18px;
  z-index: 1;
  pointer-events: none;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes scrollBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2000px 0;
  }
}


@keyframes overflow_blue {
    0%{
        background-color: blue;
    }
    50%{
        background-color: darkblue;
    }
    100%{
        background-color: blue;
    }
}